.footer{
	border-top: 1px solid #eee;
	width: 100%;
	clear: both;
    position: relative;
	margin-top: 20%;
	margin-bottom: 5%;
}
.footer p{
	font-size: 1.2em;
	text-align: center;
}
.footer .links{
	text-align: center;
}
.links a{
	padding: 0 2em;
}
