.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.posts{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5em;
}
.posts article{
	width: 33%;
	padding: 3em 2em;
	border: 0.5px solid #ccc;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.posts .description{
	font-size:1.2em;
	color: #333;
	text-align: center;
}
.instructions, .dateCourse{
	text-align: center;
}
.instructions{
	font-size: 2em;
	font-weight: bold;
}
.dateCourse{
	font-size: 1.3em;
}
.linkPost{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	font-size: 1.5em;
	text-align: center;
}

