.container {
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
}
.posts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5em;
}
.posts article {
	width: 40%;
	padding: 3em 2em;
	border: 0.5px solid #ccc;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2em;
}
.posts .description {
	font-size: 1.2em;
	color: #333;
	text-align: center;
}
.instructions,
.dateCourse {
	text-align: center;
}
.instructions {
	font-size: 2em;
	font-weight: bold;
}
.dateCourse {
	font-size: 1.3em;
}
.linkPost {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	font-size: 1.5em;
	text-align: center;
}

@media (max-width: 900px) {
	.posts {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.posts article {
		width: 45%;
		margin-bottom: 2em;
	}
}
@media (max-width: 700px) {
	.posts {
		flex-direction: column;
	}
	.posts article {
		width: 100%;
		margin-bottom: 2em;
	}
}
