.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container article{
	margin-top: 5%;
}
.linkPost{
	font-size: 2em;
}
.links a{
	padding: 0 2em;
}
