.article div blockquote{
	margin: 0;
	padding-left: 1.4rem;
	border-left: 4px solid #dadada;
	background-color: #eee;
}
.article p img{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
@media (max-width: 700px){
	.article h3{
		font-size: 1.6em;
	}
	.article h4{
		font-size: 1.4em;
	}
	.article h5{
		font-size: 1.2em;
	}
}
@media (max-width: 1000px){
	.article h3{
		font-size: 1.8em;
	}
	.article h4{
		font-size: 1.6em;
	}
	.article h5{
		font-size: 1.4em;
	}
}

